{% extends "base.html" %}

{% block content %}
<div class="card shadow-sm">
    <div class="card-body text-center">
        <h1 class="card-title">Анализатор страниц</h1>
        <p class="card-text">Бесплатно проверяйте сайты на SEO-пригодность</p>
        <form action="{{ url_for('process_url') }}" method="post" class="d-flex justify-content-center">
            <input type="text" name="url" class="form-control w-50"
                   placeholder="https://example.com" required{% if url %} value="{{ url }}"{% endif %}>
            <input type="submit" class="btn btn-primary ms-2" value="ПРОВЕРИТЬ">
        </form>
    </div>
</div>
{% endblock %}
